<launch>
<arg name="robot_name" default="sam" />
<arg name="ip" default="192.168.32.69" />
<group>
        <node pkg="dvl_driver" exec="dvl_driver" name="dvl_driver"  output="screen" namespace="$(var robot_name)">
            <param name="robot_name" value="$(var robot_name)" />
            <param name="ip" value="$(var ip)" />
            <param name="port" value="16171" />
            <param name="log_raw_data" value="false" />
        </node>
    </group>
</launch>